---
---

<a
  class="flex relative flex-col w-full h-full items-center justify-center"
  href="https://vuejs.org"
  target="_blank"
>
  <div class="absolute -top-6">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-label="Vue"
      role="img"
      viewBox="0 0 64 64"
      version="1.1"
      id="svg8"
      class="w-12 h-12"
    >
      <metadata id="metadata14">
        <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"
            ></dc:type>
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <defs id="defs12"></defs>

      <path
        d="M 39.33333,5.5 32,18.33333 24.666667,5.5 H 0 L 32,61 64,5.5 Z"
        id="path4"
        inkscape:connector-curvature="0"
        style="fill:#42b883;stroke-width:0.16666667"></path>
      <path
        d="M 39.33333,5.5 32,18.33333 24.666667,5.5 H 12.833333 L 32,38.83333 51.16667,5.5 Z"
        id="path6"
        inkscape:connector-curvature="0"
        style="fill:#35495e;stroke-width:0.16666667"></path>
    </svg>
  </div>
  <div
    class="bg-zm-800 flex flex-col gap-2 w-full h-full rounded pt-6 pb-2 px-2 items-start justify-start"
  >
    <h2 class="font-bold text-2xl">Vue</h2>
    <p class="font-normal text-sm">
      I've been diving into Vue.js and absolutely love using it to build modern,
      snappy web interfaces. I'm focused on creating reusable components,
      keeping the application state clean, and making sure everything runs
      smoothly—I've really enjoyed figuring out how to optimize performance
      within Vue applications. I'm always looking for the best ways to use the
      framework, whether it's leveraging third-party tools or just staying
      current with the latest Vue and JavaScript trends!
    </p>
  </div>
</a>
