---
import { Image } from "@astrojs/image/components";
import ziim from "../images/ziim.jpg";
---

<div class="w-full h-screen relative">
  <div class="flex flex-col items-center  h-full">
    <h1
      id="about-section"
      class="text-2xl font-light pt-24 text-zm-200 tracking-widest"
    >
      ABOUT
    </h1>
    <div class="absolute flex flex-row h-full gap-6 items-center justify-center">
      <Image
        class={"rounded-lg"}
        alt="ZiiM"
        src={ziim}
        width={250}
        height={250}
      />
      <div class="flex justify-center flex-col">
        <h2 class="text-2xl pb-2 text-zm-light-200">Discover who I am</h2>
        <div class="gap-y-3 flex text-sm text-zm-light-200 flex-col">
          <p>
            I'm a software engineer based in Canada, and I have a real passion
            for exploring and experimenting with new frameworks. I find it
            incredibly exciting to keep up with the latest trends and
            developments in the software engineering industry, and I'm always
            eager to learn about new tools and technologies that can help me
            create better, more efficient, and more effective software
            solutions.
          </p>
          <p>
            I'm a very creative and innovative engineer, and I'm not afraid to
            step outside my comfort zone and take on new challenges. I love
            trying out new frameworks and tools, and I believe that this
            constant experimentation is the key to staying at the forefront of
            the industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
